
body {
    background: linear-gradient(to right, #ecfffb , #b4f1f1);
    text-align: center;
    font-family: 'Abel', sans-serif;
    color: #2D767F;
    min-width: 500px;
}

.navigation {
    list-style-type: none;
    margin: 5%;
    padding: 10%;    
    }

.navigation > li {
        display: inline;
        
    }

.list-pipe > li:not(:last-child)::after {
        content: "|";
        margin: 0 .33em;
    }

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    } 

textarea {
    width: 75%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
    }
    
.WAM {
    font-family: 'Major Mono Display', monospace;
    font-size: 35px;
    text-decoration: underline overline;
    color: #1E6262;
}

.abouttext {
    width: 300 px;
    border: 1px;
}


.frontline {
    top: 60px;
    z-index: -1;
    width: 99%;
    height: 75px;
    border: 10px solid #2d767f;
    margin: -5px;
    background-color: #2d767f;
    color: #ECFFFB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: 'Major Mono Display', monospace;
}

#top, #bottom, #left, #right {
	background: #2d767f;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

.flourish {
    position: absolute;
    left: 25%;
    top: 150px;
    z-index: -1;
}

.skeleton {
    width: 250px;
}

.column {
    text-align: left;
    float: left;
    width: 33%;
    padding: 25px;
    border-left: 5%;
    margin:25px auto ;
    }

.row::after {
    content: "";
    clear: both;
    display: table;
    }

.wrapper {
        align-self: center;
        padding: 5px;
        max-width: 550px;
        width: 95%;
        margin: 20px auto;
}

.blog {
        text-align: left;
        width: 75%;
        padding: 25px;
        border-left: 5%;
        margin:25px auto ;
        }

    .btn {
        background-color: #2d767f;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
        }
          
        /* Darker background on mouse-over */
    .btn:hover {
        background-color: #2d767f;
    }

.footer {
   text-align: right;
   padding: 0px 15px 10px 0px;
}

/* Palette: 

#1e6262 
#2d767f
#b4f1f1
#ecfffb
*/