
body {
    background: linear-gradient(to right, #ecfffb , #b4f1f1);
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.navigation {
    list-style-type: none;
    margin: 5%;
    padding: 10%;    
    }

.navigation > li {
        display: inline;
        
    }

.list-pipe > li:not(:last-child)::after {
        content: "|";
        margin: 0 .33em;
    }

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    } 

textarea {
    width: 75%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
    }
    
.WAM {
    font-family: 'Major Mono Display', monospace;
    font-size: 35px;
    text-decoration: underline overline;
    color: #1E6262;
}

/* Palette: 

#1e6262 
#2d767f
#b4f1f1
#ecfffb
*/